{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans',Sans-Serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url('../img/background.jpg');
}